<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Exposure Triangle{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>

  <nav class="main-nav">
    <div class="nav-container">
      <a href="{{url_for('home') }}" class="logo" style="text-decoration: none;">
        <div class="triangle"></div>
        <div class="logo-text">M.E.T</div>
      </a>
      <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('learn', lesson_num=1) }}">Learn</a></li>
        <li><a href="{{ url_for('quiz_route', question_num=1) }}">Quiz</a></li>
      </ul>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
