{% extends 'base.html' %}

{% block title %}Mastering the Exposure Triangle{% endblock %}

{% block content %}
  <div class="home-hero">
    <img
      src="{{ url_for('static', filename='images/triangle.jpg') }}"
      alt="Exposure Triangle Diagram"
      class="exposure-triangle-img"
    />

    <h1 class="hero-title">
      Mastering the<br/>
      Exposure Triangle
    </h1>

    <p class="hero-text">
      Text introducing the concept of mastering the exposure triangle and why it’s useful etc. etc.
    </p>

    <div class="hero-buttons">
      <a href="{{ url_for('learn', lesson_num=1) }}" class="btn">Start Now</a>
      <a href="{{ url_for('quiz_route', question_num=1) }}" class="btn">Test Yourself</a>
    </div>
  </div>
{% endblock %}
