<!-- Sebastian Horta -->
<!-- learn.html -->

{% extends 'base.html' %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block content %}
<!-- Lesson Content -->
<div class="my-5">
  <div class="card p-4 shadow-lg">
    <h2 class="fw-bold mb-3">{{ lesson.title }}</h2>
    <p class="lead">{{ lesson.content }}</p>
    <img src="{{ lesson.image }}" alt="{{ lesson.title }}" class="img-fluid mb-4 rounded">
    <div class="text-end">
      <a href="{{ url_for('learn', lesson_num=lesson_num + 1) }}" class="btn btn-primary">Next</a>
    </div>
  </div>
</div>
{% endblock %}
